#time {
    background-color: #ff9900;
    border: solid black 3px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    width: 90px;
    height: 50px;
}
#power {
    background-color: #ff9900;
    border: solid black 3px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    width: 90px;
    height: 50px;
}
.centered {
    position: fixed;
    left: 40%;
}

p {
 text-align: center;
 line-height: 45px;

}